<header class="header bg-primary-light">
    <div class="container">
        <nav class="nav-home">
            <h1 class="logo"><a href="/">RVEGAN <i class="fa-solid fa-leaf"></i></a></h1>
            {% include 'recipes/partials/search.html' %}
            <ul class="nav-home-links">
                <li><a href="/"><i class="fa-regular fa-user"></i></a></li>
                <li><a class="btn-dark" href="{% url 'authors:logout' %}">Sair</a></li>
            </ul>
        </nav>
    </div>
</header>