{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">

<head>
    {% include 'recipes/partials/head.html' %}
    <title>Cadastro | RVegan</title>
    <link rel="stylesheet" href="{% static 'assets/css/register-login.css' %}">
</head>


<body>
    <section class="intro">
        <h1>Encontre ótimas receitas e <strong>compartilhe as suas</strong> para o mundo inteiro!</h1>
        <h2 class="subtitle">Faça parte da nossa comunidade</h2>
        <p class="top-text">Temos <span class="count-recipes">{{recipes.count}}</span> receitas veganas</p>
    </section>
    <main class="register-login">
        {% include 'recipes/partials/messages.html' %}
        <h1 class="logo"><a href="/">RVEGAN <i class="fa-solid fa-leaf"></i></a></h1>
        <h1 class="title">Faça seu cadastro</h1>
        <small>Já possui uma conta? <a href="{% url 'authors:login' %}">Login</a></small>
        <form action="{% url 'authors:register_create' %}" method="POST">
            {% csrf_token %}
            {% for field in form %}
            <div class="form">
                {{field}}
                <span class="input-border"></span>
            </div>
            {% if form.errors %}
            <div class="error">
                {{field.errors}}
            </div>
            {% endif %}
            {% endfor %}
            <button class="btn btn-primary" type="submit">Enviar</button>
        </form>
    </main>
</body>

</html>