{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">

<head>
    {% include 'recipes/partials/head.html' with title=recipe.title %}
    <title>{{recipe.title}}</title>
    <link rel="stylesheet" href="{% static 'assets/css/header.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/recipe-detail.css' %}">
</head>

<body>
    {% include 'recipes/partials/header.html' %}
    <main class="container-detail">
        <div class="recipe-detail">
            <span id="category">☕ {{recipe.category.name }}</span>
            <h1>{{recipe.title}}</h1>
            <h4><i class="fa-regular fa-user"></i> {{recipe.author}} <i class="fa-regular fa-calendar"></i>{{recipe.created_at|date:"d/m/Y"}} às {{ recipe.created_at|date:"H:i" }}</h4>
            <img src="{{ recipe.cover.url }}" alt="{{ recipe.title }}">
            <h2>Descrição</h2>
            <p class="recipe-detail-description">{{recipe.description}}</p>
            <hr>
            <h2>Modo de Preparo</h2>
            <p class="recipe-preparation-description">{% if recipe.preparation_steps_is_html is True %}
                {{ recipe.preparation_steps|safe }}
                {% else %}
                {{ recipe.preparation_steps|linebreaksbr }}
                {% endif %}</p>
            <ul class="recipe-detail-preparation">
                <li><strong><i class="fa-regular fa-clock"></i> Preparo</strong>
                    <p><em>{{recipe.preparation_time}} {{recipe.preparation_time_unit}}</em></p>
                </li>
                <hr>
                <li><i class="fa-solid fa-bowl-rice"></i> <strong>Porções</strong>
                    <p><em>{{recipe.servings}} {{recipe.servings_unit}}</em></p>
                </li>
            </ul>
        </div>
    </main>
    {% include 'recipes/partials/footer.html' %}
</body>

</html>