@import url('reset.css');

:root {
    --color-primary: tomato;
    --color-primary-dark: #23394b;
    --color-primary-light: #eeebeb;

    --color-dark-text: #444;
    --color-success-light: #d4edda;
    --color-alert-light: #fff3cd;
    --color-warning-light: #fff3cd;
    --color-error-light: #f8d7da;

    --color-success-dark: #4a9c5d;
    --color-alert-dark: #927f40;
    --color-warning-dark: #927f40;
    --color-error-dark: #da525d;

    --color-gray-0: #f9f9f9;
    --color-gray-1: #e0e0e0;
    --color-gray-2: #c7c7c7;
    --color-gray-3: #aeaeae;
    --color-gray-4: #959595;
    --color-gray-5: #7d7d7d;
    --color-gray-6: #646464;
    --color-gray-7: #4b4b4b;
    --color-gray-8: #323232;
    --color-gray-9: #191919;

    --font-primary: 'Alegreya Sans', sans-serif;
    --font-headings: 'Alegreya', serif;
}

.color-primary {
    color: var(--color-primary);
}

.color-primary-dark {
    color: var(--color-primary-dark);
}

.color-primary-light {
    color: var(--color-primary-light);
}

.bg-primary-light {
    background-color: var(--color-primary-light)
}

.bg-primary-dark {
    background-color: var(--color-primary-dark)
}

.ff-primary {
    font-family: var(--font-primary);
}

body {
    height: 100vh;
    font-family: var(--font-primary);
    background: var(--color-gray-1);
}

a {
    color: inherit;
}

.container {
    max-width: 1180px;
    padding: 1rem;
    margin: 0 auto;
}

/* PAGINATION */


.pagination-content {
    display: flex;
    place-content: center;
    margin-top: 2rem;
    font-size: 1rem;
    font-weight: 400;
}

.page-item {
    padding: 5px 10px;
    background-color: var(--color-gray-2);
    border-radius: 3px;
    color: var(--color-primary-dark);
}

.page-item:hover, .page-current {
    background-color: tomato;
    color: var(--color-primary-light);
}

.page-out-range {
    color: var(--color-dark-text);
    background-color: var(--color-gray-3);
    margin: 0 .5rem;
}

